:root {
  --accent-default-color: #E27410;
  --accent-hover-color: #F47A0B;

  --text-color: #2D3343;
  --title-color: #2D3343;
  --input-color: #969696;
  --border-color: #F2F2F2;

  --gradient-blue: linear-gradient(90deg, #014C88 0%, #015DA0 47.40%, #026AB3 100%);
  --gradient-orange: linear-gradient(90deg, #E27410 0%, rgba(196, 196, 196, 0.00) 100%, #025EA1 100%);
  --background-gray-color: #F4F7FB;;
}