@media (max-width: 1400px) {
  .nav {
    &__list {
      justify-content: space-between;
      padding-left: 60px;
    }
    &__logo {
      display: none;
    }
    &__logo-little {
      height: 64px;
      width: 64px;
      display: block;
    }
    &__list {
      column-gap: 42px;
    }
    &__more {
      display: block;
    }
    &__more-hide {
      display: none;
    }
    &__drop-down {
      width: 300px;
      right: 0;
    }
  }
}


@media (max-width: 992px) {
  .nav {
    &__logo-little:nth-child(2) {
      height: 48px;
      width: 48px;
      display: block;
    }
    &__more-hide2 {
      display: none;
    }
    &__text {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}